<section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input
        (keyup.enter) = "addTodo($event.target)"
        class="new-todo"
        placeholder="What needs to be done?"
        autofocus
      >
    </header>
    <section class="main">
      <ul class="todo-list">
        <li>
          <div class="view">
            <input type="checkbox" class="toggle"> <!--清單勾選使用 (要放第一個) -->
            <label>第一個代辦事項</label>            
            <button class="destroy"></button> <!-- 刪除事項按鈕 -->
          </div>
        </li>
      </ul>
    </section>
  </section>